<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Welcome
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" padding>

  <h2 class="ion-padding-start">Login</h2>

  <ion-list>

    <ion-item>
      <ion-input [(ngModel)]="username" name="username" type="text" placeholder="Username"></ion-input>
    </ion-item>


    <ion-item>
      <ion-input type="password" placeholder="Password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>Remain logged in</ion-label>
    </ion-item>

  </ion-list>

  <br>

  <div class="ion-padding-start">
    <ion-button (click)="login()" shape="round" size="large" color="success">
      Login
      <ion-icon slot="end" name="enter-outline"></ion-icon>
    </ion-button>
    <ion-item (click)="increment()">
      Clicked {{counter}} times
    </ion-item>
  </div>

</ion-content>
